* {
    box-sizing: border-box;

}

html{
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222429;
    padding: 10px;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*background-color: #0d0d14;*/
    gap: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222429;
    color: white;
}

.breadcrumbs {
    text-align: center;
}

.icon {
    font-size: 1.5em;
}

.menu {
    display: flex;
    gap: 15px;
}

.content {
    background-color: #222429;
}

.grid-container {
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    justify-content: center;
}

.create-posts-section h2 {
    text-align: center;
}



.blog-posts-section h2 {
    text-align: center;
}

.blog-post, .blogpost p {
    border-style: ridge;
    border-width: 3px;
    border-radius: 10px;
    padding: 5px;
}

.blog-post-comment {
    border-style: ridge;
    border-width: 3px;
    border-radius: 10px;
    margin-left: 30px;
    padding: 5px;
}
